__pycache__/
.json

.luarc.json
lazy-lock.json


# Added by cargo

/target
config/ranger/__pycache__
config/ranger/plugins/__pycache__
config/nvim/plugin
config/nvim/lazy-lock.json
config/vifm/vifminfo.json
