
# Added by cargo

/target
config/ranger/__pycache__
config/ranger/plugins/__pycache__
config/nvim/lazy-lock.json
config/vifm/vifminfo.json
config/lazygit/state.yml
home/jupyter/migrated
config/gh/.nvimlog
